# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

**/charting_library


# Logs
logs
*.log


# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*.Local
!.env.example
env.sh

# scripts files
scripts/*.json

