:root {
  &.dark{
    // 规范：颜色相同省略为 3 位，所有都用大写
    --d-333-l-ECECEC: #333;
    --d-333-l-F5F5F5: #333;
    --d-E9E9E9-l-222: #E9E9E9;
    --d-333-l-fff: #333;
    --d-111-l-fff: #111;
    --d-999-l-666: #999;
    --d-F5F5F5-l-333: #F5F5F5;
    --d-3F80F7-l-EAECEF: #3F80F7;
    --d-1D2232-l-3F80F7: #1D2232;
    --d-EAECEF-l-333: #EAECEF;
    --d-111-l-FFF: #111;
    --d-222-l-F2F2F2: #222;
    --d-666-l-999: #666;
    --d-F5F5F5-l-333: #F5F5F5;
    --d-999-l-666: #999;
    --d-333-l-DDD: #333;
    --d-000-l-F6F6F6: #000;
    --d-151517-l-F6F6F6: #151517;
    --d-1d2232-l-F5F5F5: #1D2232;
  }

  &.light{
    --d-333-l-ECECEC: #ECECEC;
    --d-333-l-F5F5F5: #F5F5F5;
    --d-E9E9E9-l-222: #222;
    --d-333-l-fff: #FFF;
    --d-111-l-fff: #FFF;
    --d-999-l-666: #666;
    --d-F5F5F5-l-333: #333;
    --d-3F80F7-l-EAECEF: #EAECEF;
    --d-1D2232-l-3F80F7: #3F80F7;
    --d-EAECEF-l-333: #333;
    --d-111-l-FFF: #FFF;
    --d-222-l-F2F2F2: #F2F2F2;
    --d-666-l-999: #999;
    --d-F5F5F5-l-333: #333;
    --d-999-l-666: #666;
    --d-333-l-DDD: #DDD;
    --d-000-l-F6F6F6: #F6F6F6;
    --d-151517-l-F6F6F6: #F6F6F6;
    --d-1d2232-l-F5F5F5: #F5F5F5;
  }
}

