:root {
  --primary-color: #3F80F7;
  &.dark {
    // 规范：颜色相同省略为 3 位，所有都用大写
    --d-333-l-ECECEC: #333;
    --d-333-l-F5F5F5: #333;
    --d-111-l-FFF: #111;
    --d-222-l-F2F2F2: #222;
    --d-666-l-999: #666;
    --d-F5F5F5-l-333: #f5f5f5;
    --d-999-l-666: #999;
    --d-333-l-DDD: #333;
    --d-000-l-F6F6F6: #000;
    --d-151517-l-F6F6F6: #151517;
    --d-333-l-F2F2F2: #333;
    --d-333-l-F2F2F2: #333;
    --d-222-l-fff: #222;
    --d-E9E9E9-l-222: #E9E9E9;
    --d-333-l-fff: #333;
    --d-3F80F7-l-EAECEF: #3F80F7;
    --d-1D2232-l-3F80F7: #1D2232;
    --d-EAECEF-l-333: #EAECEF;
    --d-1D2232-l-F5F5F5: #1D2232;
    --d-2D3037-l-F5F5F5: #2D3037;
    --d-222-l-F2F2F2: #222;
    --d-131722-l-fff: #131722;
    --d-999-l-222:#999;
    --d-BCBED2-l-222:#BCBED2;
    --d-F5F5F5-l-222: #F5F5F5;
    --d-0A0B0C-l-F5F5F5: #0A0B0C;
    --d-17191C-l-F2F2F2: #17191C;
    --d-1f242a-l-F5f5f5: #1F242A;
    --d-282e35-l-e5e5e5: #282E35;
  }

  &.light {
    --d-333-l-ECECEC: #ececec;
    --d-333-l-F5F5F5: #f5f5f5;
    --d-111-l-FFF: #fff;
    --d-222-l-F2F2F2: #f2f2f2;
    --d-666-l-999: #999;
    --d-F5F5F5-l-333: #333;
    --d-999-l-666: #666;
    --d-333-l-DDD: #ddd;
    --d-000-l-F6F6F6: #f6f6f6;
    --d-151517-l-F6F6F6: #f6f6f6;
    --d-333-l-F2F2F2: #f2f2f2;
    --d-333-l-F2F2F2: #F2F2F2;
    --d-222-l-fff: #FFF;
    --d-E9E9E9-l-222: #222;
    --d-333-l-fff: #fff;
    --d-3F80F7-l-EAECEF: #EAECEF;
    --d-1D2232-l-3F80F7: #3F80F7;
    --d-EAECEF-l-333: #333;
    --d-1D2232-l-F5F5F5: #F5F5F5;
    --d-2D3037-l-F5F5F5: #F5F5F5;
    --d-222-l-F2F2F2: #F2F2F2;
    --d-F5F5F5-l-222: #222;
    --d-131722-l-fff: #fff;
    --d-999-l-222:#222;
    --d-BCBED2-l-222:#222;
    --d-0A0B0C-l-F5F5F5: #F5F5F5;
    --d-17191C-l-F2F2F2: #F2F2F2;
    --d-1f242a-l-F5f5f5: #F5F5F5;
    --d-282e35-l-e5e5e5: #E5E5E5;
  }
}


